*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#name{
  color: red;
  font-size: 22px;
  display: none;
}

#password{
  color: red;
  font-size: 22px;
  display: none;
}